<section class="container" style="height: calc(100vh - 17.5rem);">
  <section class="sign-in">
    <h2 class="si-header">MESSAGE</h2>
    <p class="alert alert-danger">
      {{{message}}}
    </p>
  </section>
</section>