<div class="d-flex justify-content-center mb-5">
  <div class="card-group mt-5 mb-5">
    <div class="card left-card border-0">
      <div class="card-body m-3">
        <h1 class="card-title fw-bold fs-1">Mật khẩu mới đã được gửi qua email</h1>
        <p class="card-text mb-5"><small class="text-body-secondary">Vui lòng nhập mật khẩu mới để tiếp tục</small></p>
        <form id="resetPwForm" action="/user/resetPw" method="post">
          <div class="mb-2">
            <label for="inputEmail" class="form-label mb-1">Email</label>
            <input type="email" class="form-control mt-0" name="inputEmail" id="inputEmail" value="{{email}}" readonly>
            <small id="emailErr" class="form-text text-danger">{{emailMsg}}</small>
          </div>
          <div class="mb-2">
            <label for="inputPassword" class="form-label mb-1">Mật khẩu mới<i></i></label>
            <input type="password" class="form-control mt-0" name="inputPassword" id="inputPassword" required>
            <small id="passwordErr" class="form-text text-danger"></small>
          </div>
          <div class="d-grid gap-2 col-12 mt-4">
            <button class="btn btn-outline-dark fs-4" style="height: 4rem" type="submit">Xác nhận</button>
          </div>
        </form>
      </div>
    </div>
    <div class="right-card card border-0">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-8 offset-2">
            <img class="w-100"
              src="https://media.discordapp.net/attachments/1176168664987345008/1176953088456798208/loginanimi.png?ex=6570bdfb&is=655e48fb&hm=e4693ff912e14c7a1d637ed4e329351b67a4f04b6073ab6570bed2e593c74a19&=&format=webp&width=583&height=395"
              alt="">
          </div>
        </div>
        <div>Quay lại trang đăng nhập? </div>
        <a class="btn btn-outline-dark mt-2 fs-4" href="/user/signin" role="button">Đăng nhập</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(() => {

    $('#resetPwForm').submit(function (e) {
      e.preventDefault();
      console.log($('#inputPassword').val())
      $('#passwordErr').html(($('#inputPassword').val() != `{{code}}`) ? '<i>Mật khẩu mới không đúng!</i>' : '');
      if ($('#passwordErr').html() === '') {
        const dt = {
          email: $('#inputEmail').val(),
          password: $('#inputPassword').val()
        }
         $.post('/user/resetPw', dt, (rs) => {
          console.log(rs);
          window.location.href = "/"
        })
       
      } else {
        e.preventDefault();
      }
    });
  })
</script>