<div class="d-flex justify-content-center mb-5">
  <div class="card-group mt-5 mb-5">
    <div class="card left-card border-0">
      <div class="card-body m-3 d-flex flex-column justify-content-center">
        <h1 class="card-title fw-bold fs-1">Đăng Nhập</h1>
        <p class="card-text mb-5"><small class="text-body-secondary">Vui lòng đăng nhập để tiếp tục</small></p>
        <form id="signinForm">
          <div class="mb-2">
            <label for="inputUsername" class="form-label">Tên đăng nhập</label>
            <input type="text" class="form-control mt-0" name="inputUsername" id="inputUsername" required>
            <small id="usernameErr" class="form-text text-danger"></small>
          </div>
          <div class="mb-2">
            <label for="inputPassword" class="form-label mt-3">Mật khẩu</label>
            <input type="password" class="form-control mt-0" name="inputPassword" id="inputPassword" required>
          </div>
          <div class="d-grid gap-2 col-12 mt-4">
            <button class="btn btn-outline-dark signUp-button fs-4 mt-3" style="height: 4rem;" type="submit"> Đăng
              Nhập</button>
          </div>
        </form>
        <hr class="my-4">
        <div class="social-media text-center">
          <button class="btn btn-lg btn-block btn-primary "
            style="background-color: #dd4b39;" type="submit"><i
              class="fab fa-google"></i> </button>
          <button class="btn btn-lg btn-block btn-primary ms-1"
            style="background-color: #3b5998;" type="submit"><i
              class="fab fa-facebook-f me-2"></i></button>
        </div>
      </div>
    </div>
    <div class="right-card card border-0">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-8 offset-2">
            <img class="w-100"
              src="https://media.discordapp.net/attachments/1176168664987345008/1176953088456798208/loginanimi.png?ex=6570bdfb&is=655e48fb&hm=e4693ff912e14c7a1d637ed4e329351b67a4f04b6073ab6570bed2e593c74a19&=&format=webp&width=583&height=395"
              alt="">
          </div>
        </div>
        <div class="mt-3">Chưa có tài khoản? </div>
        <a class="btn btn-outline-dark mt-2 fs-4" href="/user/signup" role="button">Đăng Ký </a>
      </div>
    </div>
  </div>
</div>
<script>
  // Wait for the DOM to be ready
  $(document).ready(function() {
    
    // Validate and handle the sign-in form submission
    function handleSignInFormSubmission() {
      $('#signinForm').on('submit', function(event) {
        event.preventDefault();
        // Validate username
        const username = $('#inputUsername').val();
        const invalidCharsRegex = /[\/\\\[\];|=,+\*\?<>]/;
        const errorMessage = 'Tên đăng nhập không được chứa các kí tự: / \\ [ ] ; | = , + * ? < >';
        
        $('#usernameErr').text(invalidCharsRegex.test(username) ? errorMessage : '');
        // If the username is valid, proceed with form submission (uncomment to enable)
        // if ($('#usernameErr').text() == '') {
        //   $('#signinForm').submit();
        // }
      });
    }
    // Function called when the user clicks on the Google sign-in button
    function onSignIn(googleUser) {
      console.log(1);
      const profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
    // Function to initialize the Google Auth client
    function initGoogleAuthClient() {
      gapi.load('auth2', function() {
        gapi.auth2.init({
          client_id: '420554225529-v2gdq8nue9cq0up7jtsovdecin77cqim.apps.googleusercontent.com',
          scope: 'profile email'
        }).then(function() {
          const GoogleAuth = gapi.auth2.getAuthInstance();
          GoogleAuth.attachClickHandler('g-signin2', {}, onSignIn);
        });
      });
    }
    // Initialize functions
    handleSignInFormSubmission();
    window.onload = initGoogleAuthClient;
  });
</script>