<div class="d-flex justify-content-center mb-5">
  <div class="card-group mt-5 mb-5">
    <div class="card left-card border-0">
      <div class="card-body m-3 d-flex flex-column justify-content-center">
        <h1 class="card-title fw-bold fs-1">Đăng Nhập</h1>
        <p class="card-text mb-5"><small class="text-body-secondary">Vui lòng
            đăng nhập để tiếp tục</small></p>
        <form id="signinForm" action="/user/signin" method="post">
          <div class="mb-2">
            <label for="inputEmail" class="form-label">Email</label>
            <input
              type="email"
              class="form-control mt-0"
              name="inputEmail"
              id="inputEmail"
              value="{{inputEmail}}"
              required
            />
            <small
              id="emailErr"
              class="form-text text-danger"
            >{{emailMsg}}</small>
          </div>
          <div class="mb-2">
            <label for="inputPassword" class="form-label mt-3">Mật khẩu</label>
            <input
              type="password"
              class="form-control mt-0"
              name="inputPassword"
              id="inputPassword"
              value="{{inputPassword}}"
              required
            />
            <small id="pwErr" class="form-text text-danger">{{pwMsg}}</small>
          </div>
          <div class="d-grid gap-2 col-12 mt-4">
            <button
              class="btn btn-outline-dark signUp-button fs-4 mt-3"
              style="height: 4rem;"
              type="submit"
            > Đăng Nhập</button>
          </div>
        </form>
        <div class="text-center mt-4">
          <div
            class="text-decoration-underline pointer"
            onclick="forgotPw()"
          >Quên mật khẩu</div>
        </div>
        <hr class="my-4" />
        <div class="social-media text-center">
          <span>Hoặc </span>
          <button
            class="btn btn-lg btn-block btn-primary"
            style="background-color: #dd4b39;"
            type="submit"
            onclick="window.location.href='/auth/google'"
          ><i class="fab fa-google"></i> </button>
          {{! <button class="btn btn-lg btn-block btn-primary ms-1" style="background-color: #3b5998;" type="submit"
            onclick="window.location.href='/auth/facebook'"><i class="fab fa-facebook-f me-2"></i></button> }}
        </div>
      </div>
    </div>
    <div class="right-card card border-0">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-8 offset-2">
            <img
              class="w-100"
              src="https://cdn.discordapp.com/attachments/1176168664987345008/1176953088456798208/loginanimi.png?ex=6654d17b&is=66537ffb&hm=287098bf452faf94c4b5a2054a9d2ab88fa83a7cceb3eecc903444e0a1dcb71f&"
              alt=""
            />
          </div>
        </div>
        <div class="mt-3">Chưa có tài khoản? </div>
        <a
          class="btn btn-outline-dark mt-2 fs-4"
          href="/user/signup"
          role="button"
        >Đăng Ký </a>
      </div>
    </div>
  </div>
</div>

<script src="/js/signin.js"></script>