<div class="container mt-5">

  <h1 class="mb-3" style="font-weight: 900; font-size: 40px;">Bộ sưu tập</h1>

  <div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!-- First Carousel Item -->
      <div class="carousel-item active">
        <div class="row">
          <div class="col">
            <img
              src="/img/banner/banner1.png"
              class="d-block w-100 h-100"
              alt="..."
            />
          </div>
          <div class="col">
            <img
              src="/img/banner/banner2.png"
              class="d-block w-100 h-100"
              alt="..."
            />
          </div>
          <div class="col">
            <img
              src="/img/banner/banner3.png"
              class="d-block w-100 h-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <!-- Second Carousel Item -->
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img
              src="/img/banner/banner4.png"
              class="d-block w-100 h-100"
              alt="..."
            />
          </div>
          <div class="col">
            <img
              src="/img/banner/banner5.png"
              class="d-block w-100 h-100"
              alt="..."
            />
          </div>
          <div class="col">
            <img
              src="/img/banner/banner6.png"
              class="d-block w-100 h-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <!-- More Carousel Items as needed -->
    </div>
    <!-- Carousel Controls -->
    <!-- Previous Button -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <!-- Next Button -->
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>