<div class="range-slider">
  <input type="range" id="rangeInput" min="0" max="100" value="50" oninput="updateRangeSlider(this)">
  <div class="slider-track"></div>
  <div id="thumbLeft" class="slider-thumb left"></div>
  <div id="thumbRight" class="slider-thumb right"></div>
</div>

<script src="/js/updateSlider.js"></script>