<div class="dual-range-slider">
  <input type="range" class="form-range" id="lower" oninput="updateSlider(this.value, 'lower')" min="0" max="100" value="25">
  <input type="range" class="form-range" id="upper" oninput="updateSlider(this.value, 'upper')" min="0" max="100" value="75">
</div>

<script src="/js/updateSlider.js"></script>