<div id="footer" class="p-5">
  <div class="row">
    <div class="col-3 text-center first-part d-flex flex-column justify-content-center align-items-center">
      <div class="row d-flex justify-content-center align-items-center pt-5 pb-3">
        <img src="/img/logo/transparent.png" alt="" />
      </div>

      <div class="tmp-container">
        <a href="#" class="footer-icon-group">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#" class="footer-icon-group">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="footer-icon-group">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="footer-icon-group">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="col-5 text-center second-part d-flex align-items-center">
      <div class="row">
        <h1 class="fw-bold fs-2 mb-3">Liên hệ với chúng tôi</h1>
        <p>Email: mozi.ecommerce@gmail.com</p>
        <p>Hotline: 1900 1087</p>
      </div>
    </div>
    <div class="col-2">
      <div class="row pt-5">
        <a class="fs-2 mb-3" href="/">Trang chủ</a>
        <a class="fs-2 mb-3" href="/product">Bộ sưu tập</a>
        <a class="fs-2 mb-3" href="/product">Sản phẩm mới</a>
        <a class="fs-2 mb-3" href="/product">Chủ đề mới</a>
      </div>
    </div>
    <div class="col-2">
      <div class="row pt-5">
        <a class="fs-2 mb-3" href="#">Điều khoản</a>
        <a class="fs-2 mb-3" href="#">Chính sách</a>
        <a class="fs-2 mb-3" href="#">Hỗ trợ</a>
      </div>
    </div>
  </div>
</div>