<footer>
  <div class="f-start">
    <div class="container">
      <div class="row">
        <div class="f-hotline col-lg-2 col-md-3 col-sm-12 col-xs-12">
          <div class="item d-inline-flex align-items-end full clearfix">
            <div class="pull-left"><i class="fa fa-phone-square"></i></div>
            <a href="javascript:void(0)" class="pull-left">
              Hotline
              <span class="big full clearfix">0247.303.3579</span>
            </a>
          </div>
          <div class="item d-inline-flex align-items-end full clearfix">
            <div class="pull-left"><i class="fa fa-envelope"></i></div>
            <a href="javascript:void(0)" class="pull-left">
              Email
              <span class="full clearfix">cskh@moji.vn</span>
            </a>
          </div>
          <div class="item f-txt-l full clearfix"><p><a
                href="/chinh-sach-ban-hang-nc9356.html"
                target="_blank"
                rel="noreferrer noopener"
              ><span style="font-size:14px;">CHÍNH SÁCH BÁN HÀNG</span></a></p><p
            ><a
                href="/huong-dan-mua-hang-n59156.html"
                target="_blank"
                rel="noreferrer noopener"
              ><span style="font-size:14px;">HƯỚNG DẪN MUA HÀNG</span></a></p><p
            >&nbsp;</p></div>
        </div>
        <div class="f-room col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <h3 class="f-title">HÀ NỘI (9h - 22h)</h3>
          <div class="f-room-text">
            <ul><li>81 Bà Triệu, Hai Bà Trưng</li>
              <li>241 Chùa Bộc, Đống Đa</li>
              <li>60 Trần Đại Nghĩa, Hai Bà Trưng</li>
              <li>226 Nguyễn Trãi, Nam Từ Liêm (gần ĐH Hà Nội)</li>
              <li>157 Xuân Thủy, Cầu Giấy</li>
            </ul>
          </div>
        </div>
        <div class="f-room f-room-2 col-lg-5 col-md-4 col-sm-12 col-xs-12">
          <h3 class="f-title">TP. HỒ CHÍ MINH (9h30 - 22h)</h3>
          <div class="f-room-text">
            <ul><li>92&nbsp;Hồ Tùng Mậu, P.Bến Nghé,&nbsp;Q1</li><li>459E Nguyễn
                Đình Chiểu, P.5, Q.3&nbsp;(ngã tư Cao Thắng)</li><li>708 Sư Vạn
                Hạnh, P.12, Q.10 (đối diện chéo Vạn Hạnh Mall)</li><li>87 Bàu
                Cát, P.14, Q.Tân Bình&nbsp;(khúc giao Nguyễn Hồng Đào)</li><li
              >232 Phan Xích Long, P.7, Q.Phú Nhuận</li></ul>
          </div>
        </div>
        <div class="f-lo-social col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <a href="/" class="f-logo text-center">
            <img
              data-sizes="auto"
              class="lazyautosizes lazyloaded"
              src="https://cdn.discordapp.com/attachments/1144856909472604230/1182587144213102642/Screenshot_1.png?ex=65853d1a&is=6572c81a&hm=84c3a7cfbdfdc11afc83b55cb40835472bd1e2e67b3464df69741bd0c071ae48&"
              alt="logo"
              style="width: 60px; height: 60px;"
            />
          </a>
          <h3 class="f-title mt-3">Hãy kết nối với chúng mình</h3>
          <div class="social text-center">
            {{! <a href="https://www.instagram.com/mojivn">
              <img
                data-sizes="auto"
                class="lazyautosizes lazyloaded"
                src="/tp/T0299/img/social-color-insta.png"
                data-src="/tp/T0299/img/social-color-insta.png"
                alt="instagram"
                sizes="118px"
              />
            </a> }}

            <a href="https://www.facebook.com/mojivietnam">
              <img
                data-sizes="auto"
                class="lazyautosizes lazyloaded"
                src="https://web.nvnstatic.net/tp/T0299/img/fb-logo.png?v=3"
                data-src="https://web.nvnstatic.net/tp/T0299/img/fb-logo.png?v=3"
                alt="facebook"
                sizes="118px"
              />
            </a>

            <a
              href="https://www.youtube.com/channel/UCld80kfDOf0yUeKV7_hv6cw?ab_channel=MojiChannel"
            >
              <img
                data-sizes="auto"
                class="lazyautosizes lazyloaded"
                src="https://web.nvnstatic.net/tp/T0299/img/social-color-youtube.png?v=3"
                data-src="https://web.nvnstatic.net/tp/T0299/img/social-color-youtube.png?v=3"
                alt="youtube"
                sizes="118px"
              />
            </a>

            <a href="https://www.tiktok.com/@mojivn.official">
              <img
                data-sizes="auto"
                class="tiktok-img lazyautosizes lazyloaded"
                src="https://web.nvnstatic.net/tp/T0299/img/tiktok.png?v=3"
                data-src="https://web.nvnstatic.net/tp/T0299/img/tiktok.png?v=3"
                alt="youtube"
                sizes="118px"
              />
            </a>
          </div>
          <a
            class="logo-bct"
            href="http://online.gov.vn/Home/WebDetails/34491?AspxAutoDetectCookieSupport=1"
            target="_blank"
            title="Đã thông báo Bộ Công Thương"
          >
            <img
              class="lazyautosizes lazyloaded"
              data-sizes="auto"
              src="https://web.nvnstatic.net/img/bocongthuong.png?v=2"
              data-src="https://web.nvnstatic.net/img/bocongthuong.png?v=2"
              alt="Đã thông báo Bộ Công Thương"
              sizes="60px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="f-end container-fluid text-center">
    <p>Copyright © 2019 . All Rights Reserved</p>
  </div>
</footer>