<div class="filter-groups">
  <div class="widget_price_filter">
    Từ
    <span id="price_form" data-size="0"></span>
    đến
    <span id="price_to" data-size="600000"></span>
    <div
      id="slider-range"
      class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
      aria-disabled="false"
    ><div
        class="ui-slider-range ui-widget-header ui-corner-all"
        style="left: 27.0588%; width: 53.5172%;"
      ></div><a
        class="ui-slider-handle ui-state-default ui-corner-all"
        href="#"
        style="left: 27.0588%;"
      ></a><a
        class="ui-slider-handle ui-state-default ui-corner-all"
        href="#"
        style="left: 80.576%;"
      ></a></div>
  </div>
</div>

<script src="/js/mojiUpdateSlider.js"></script>