<div class="navagation">
  <div class="container js-container">
    <div class="row">
      {{!-- <ul class="col d-flex justify-content-between"> --}}
      <ul class="col d-flex">
        <li class="all">
          <a href="/product">TẤT CẢ</a>
        </li>

        {{#each categoryTree as |category|}}
          {{> navCategoryNode category level=1}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="nava-mask d-lg-none"></div>
</div>