<div class="container mb-5">
  <div class="row">
    <div class="blk-product-new col-12" data-label="product new">
      <h2 class="title">
        <a href="/product">
          Sản phẩm mới
        </a>
      </h2>
      <div class="product-list">
        <div id="rs-js-product" class="row">
          {{#each latestProducts}}
            {{> productitem isnew=true id=this.pid title=this.title image=this.img price=this.p}}
          {{/each}}
        </div>
      </div>
      <div class="col text-center">
        <a
          id="js-btn-load-product"
          data-offset="12"
          href="/product"
          class="btn btn-pink pointer d-load-flex align-items-center"
        >XEM THÊM</a>
      </div>
    </div>

    <div class="blk-banner col-12 mb-2" data-label="campaigns">
      <h2 class="title">Chủ đề mới</h2>
      <div class="row">
        <div
          class="item pointer col-xl-3 col-md-4 col-6 active"
        >
          <img
            data-sizes="auto"
            class="lazyload"
            src="/img/banner/item1.png"
            alt="..."
          />
        </div>
        <div
          class="item pointer col-xl-3 col-md-4 col-6"
        >
          <img
            data-sizes="auto"
            class="lazyload"
            src="/img/banner/item2.png"
            alt="..."
          />
        </div>
        <div
          class="item pointer col-xl-3 col-md-4 col-6"
        >
          <img
            data-sizes="auto"
            class="lazyload"
            src="/img/banner/item3.png"
            alt="..."
          />
        </div>
        <div
          class="item pointer col-xl-3 col-md-4 col-6"
        >
          <img
            data-sizes="auto"
            class="lazyload"
            src="/img/banner/item4.png"
            alt="..."
          />
        </div>
      </div>
    </div>

    <div class="blk-product-home col-12" data-label="product campaigns">
      <div class="product-list">
        <div id="js-camp-pro" class="row justify-content-center">
          {{#each firstProducts}}
            {{> productitem isnew=false id=this.pid title=this.title image=this.img price=this.p}}
          {{/each}}
        </div>
      </div>
      <div class="col text-center">
        <a
          id="js-btn-load-cam"
          href="/product"
          class="btn btn-pink"
        >XEM THÊM</a>
      </div>
    </div>
  </div>
</div>