.header-top {
    padding: 5px 0;
    background: #ffb0bd;
}

.header-top p {
    display: inline-block;
    margin: 0;
}

.header-top a {
    font-size: 13px;
    color: #8a4762;
    padding: 0 15px;
    display: inline-block;
    font-weight: 700;
}

.header-top a:hover {
    color: #e56266;
}