.header-content{
    padding: 15px 0;
}
    .header-content .logo img{
        max-width: 100%;
        max-height: 60px;
    }
    .js-menu-svg{
        position: absolute;
        top: 10px;
        left: 15px;
        /* height: 100%; */
        cursor: pointer;
    }
        .js-menu-svg img{
            width: 30px;
        }

    .js-menu-close{
        width: 80%;
        text-align: right;
        padding: 5px 15px;
        border-bottom: 1px solid #eee;
        font-weight: 700;
        background: #ff8a9d;
        color: #fff;
    }
        .js-menu-close img{
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
        .js-menu-close span img{
            height: 18px;
            width: auto;
            margin-top: 3px;
            float: left;
            margin-right: 5px;
        }

    .header-user {
        font-family: 'Nunito-Bold';
        padding-top: 10px;
        padding-right: 15px;
    }
        .header-user li{
            display: inline-block;
        }
            .header-user li a{
                display: inline-block;
                padding: 0 5px;
                color: #333;
                font-size: 16px;
            }
            .header-user li:last-child a{
                padding-left: 0;
            }
            .header-user li a:hover{
                color: #FFB0BD;
            }
    .js-open-user{
        cursor: pointer;
    }
        .js-open-user img{
            width: 40px;
            height: 40px;
            margin-right: 5px;
        }


    .count-cart{
        position: static;
        display: block;
    }
    .count-cart-icon{
        /*width: 33px;*/
        /*height: 41px;*/
        width: 20px;
        height: 29px;
        background: url('../img/cart_icon.png') center center no-repeat;
        background-size: 100%;
        position: relative;
        cursor: pointer;
        margin-top: 1px;
    }
        .count-cart-icon .count{
            position: absolute;
            /*right: -10px;*/
            right: -18px;
            top: -5px;
            width: 23px;
            height: 23px;
            background: #e56266;
            border-radius: 50%;
            color: #fff;
            font-weight: 700;
            font-size: 12px;
        }
    .mini-list-product{
        max-height: 230px;
        overflow-y: auto;
    }
        .mini-list-product::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        .mini-list-product::-webkit-scrollbar{
            width: 8px;
            background-color: #F5F5F5;
        }
        .mini-list-product::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        .mini-shopping-cart{
            position: absolute;
            top: 39px;
            right: -12px;
            width: 320px;
            background: #fff;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            overflow: hidden;
            border: 1px solid #e2e4ec;
            box-shadow: 1px 1px 10px rgba(0,0,0,.22);

            z-index: -100;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all .2s ease-in-out;
        }
        .count-cart .mini-shopping-cart.open{
            z-index: 150;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition: all .2s ease-in-out;
        }

        .shopping-cart-item {
            position: relative;
            padding: 12px 16px;
            height: auto;
            border-bottom: 1px solid #f3f4f6;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            list-style-type: none;
            float: none;
            width: 100%;
        }
            .shopping-cart-item .item-image{
                width: 88px;
                height: 88px;
                text-align: center;
                margin-bottom: 0;
            }
            .shopping-cart-item .item-image img{
                display: inline-block;
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
            .shopping-cart-item .item-content{
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;
                padding-right: 15px;
                padding-left: 15px;
                text-align: left;
            }
            .shopping-cart-item .item-content .item-title{
                margin: 0;
                font-size: 15px;
                color: #464850;
                font-weight: 400;
                line-height: 1.2em;
                overflow: hidden;
            }
            .shopping-cart-item .item-content .item-title a{
                color: #464850;
            }
            .shopping-cart-item .item-content .item-title a:hover{
                color: #FFB0BD;
            }
            .shopping-cart-item .item-content .item-price{
                display: block;
                font-size: 15px;
                font-weight: 700;
                color: #e53935;
                text-decoration: none;
            }
            .shopping-cart-item .js-remove-item{
                text-align: center;
                cursor: pointer;
                font-size: 19px;
                opacity: 0;
                transition: all 300ms;
            }
            .shopping-cart-item:hover .js-remove-item{
                opacity: 1;
                transition: all 300ms;
            }
            .shopping-cart-item .js-remove-item:hover{
                color: #ffb0bd;
            }
        .mini-shopping-cart .mini-shopping-cart__bottom{
            background-color: #f8f8fa;
            padding: 12px 16px 16px;
            border-top: 1px solid rgba(46,48,56,.1);
        }
        .mini-shopping-cart .shopping-cart__bottom-total{
            margin-bottom: 10px;
        }
        .mini-shopping-cart .shopping-cart-total-amount{
            font-weight: 700;
            color: #e53935;
        }
        .mini-shopping-cart .mini-shopping-cart__empty-message {
            font-size: 16px;
            font-weight: 700;
            color: #464850;
            margin: 0;
            padding: 15px;
        }


.form-search .input-group{
    border: 2px solid #FFB0BD;
    border-radius: 8px;
    overflow: hidden;
}
    .form-search input{
        border: none;
        height: 34px;
        /*padding: 1.375rem .75rem;*/
        /*align-items: ;*/
    }
    .form-search .btn{
        border: none;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
        outline: 0;
        padding: .3rem .82rem;
    }

    .research{
        margin-top: 3px;
    }
        .research p{
            display: inline-block;
            margin-bottom: 0;
        }
        .research a{
            font-size: 14px;
            color: #000000;
            padding: 0 5px;
            display: inline-block;
        }
        .research a:hover{
            color: #FFB0BD;
        }