#nav-container-p {
    li {
        margin: 0.4rem;
    }
}


.navagation{
    background: #FFB0BD;
    /*font-family: 'Nunito-Bold';*/
    position: relative;
}
    .navagation:hover{
        z-index: 100;
    }
    .nava-mask{
        position: absolute;
        height: 100%;
        width: 20%;
        right: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.16);
    }
    .navagation::-webkit-scrollbar-track, .navagation .container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    .navagation::-webkit-scrollbar, .navagation .container::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }
    .navagation::-webkit-scrollbar-thumb, .navagation .container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    .navagation ul.flex{
        position: static;
        padding: 0 15px;
    }
    .navagation li{
        display: inline-block;
        position: static;
    }
    .navagation li a {
        display: inline-block;
        color: #8a4762;
        font-size: 15px;
        padding: 12px 5px 9px 5px;
        font-weight: 700;
    }
    .navagation li a.active, .navagation li a:hover {
        color: #e56266;
    }
    .navagation li span.fa {
        color: #8a4762;
        float: right;
        top: 10px;
        width: 20px;
        height: 20px;
        position: relative;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        display: none;
    }
    .navagation .level-2 li span.fa{
        /*color: #ffb0bd;*/
        right: 10px;
    }

    /*----- Menu all ---------------------*/
    .navagation .all{
        position: static;
    }
    .navagation .menu_all{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 15px 0;
        background-color: #f6f8fa;
        box-shadow: 4px 4px 8px rgba(0,0,0,0.06);
    }
    .navagation .menu_all .container{
        padding: 0;
    }
    .menu_all .menu_all_list{
        overflow: hidden;
        padding: 0 15px 15px 0;
        border-right: 1px solid #ecedee;
        float: left;
        margin-right: 10px;
    }
    .menu_all .menu_all_list li {
        display: block;
    }
    .menu_all .menu_all_list li.more{
        display: none;
    }
    .menu_all .menu_all_list li a{
        display: block;
        padding: 4px 0;
        font-size: 15px;
        color: #878b8f;
        font-weight: normal;
    }
    .menu_all .menu_all_list li a:hover{
        font-weight: bold;
        color: #ffb0bd;
    }
    .menu_all .menu_all_list li:first-child a{
        padding-bottom: 11px;
        color: #333;
    }
    /*----- End menu all ---------------------*/

    .navagation li.has-dropdown ul{
        position: absolute;
        min-width: 200px;
        top: 100%;
        left: auto;
        right: auto;
        background: #fbd6db;
        transform: translateY(10%);
        z-index: -1;
        opacity: 0;
        transition: all 350ms;
        pointer-events: none;
    }
    .navagation li.has-dropdown:last-child ul{
        right: 0;
    }
    .navagation li.has-dropdown:last-child{
        position: relative;
    }
    .navagation li.has-dropdown:hover>ul{
        transform: translateY(0);
        z-index: 100;
        opacity: 1;
        transition: all 350ms;
        pointer-events: auto;
    }
    .navagation li.has-dropdown.open>.fa-angle-down:before{
        content: "\f106";
    }
    .navagation li.has-dropdown ul li{
        display: block;
        border-bottom: 1px solid #fff;
        position: relative;
    }
    .navagation li.has-dropdown ul li a{
        /*width: 100%;*/
        padding: 10px;
        font-weight: normal;
    }

    /*---- menu level 3 -------------*/
    .navagation li.has-dropdown ul li ul.level-3{
        /*position: absolute;*/
        /*left: 100%;*/
        top: 0;
        z-index: 1;
        background: #fdebee;
        transform: translateY(0%);
        transition: all .05s;
    }
    .navagation li.has-dropdown ul li ul.level-3 li a{

    }
    .navagation li.has-dropdown ul li ul.level-3 li a:hover{

    }