/* login */
.card-group{
    width: 55vw;
    height: 560px;
    background-color: #f8f9fd;
    border-radius: 0px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
}

.card-title{
    color: #86A789;
}
form label{
    font-size: 15px;
    color: #747272
}
.left-card button{
    background-color: #86A789;
    color: #fff;
    border: none;
}
.right-card img{
    width: 25rem;
    margin-top: 10rem
}
.right-card{
    background-color: #86A789;
    color: #fff;
}

/* profile */
.profileCard p{
    margin: 0 0 0 1rem;
}
.profileCard a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.profileCard a:hover{
    color: #86A789;
}
input, select{
  height: 4rem;
  margin-bottom: 1.5rem;
}
