<div id="carouselExampleIndicators" class="carousel slide w-50 h-50 overflow-hidden">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
      src="https://cdn.discordapp.com/attachments/1144856909472604230/1181438963890802698/934af649631a2dc8730f0b63cfed1e63908b6f08.webp?ex=65810fc7&is=656e9ac7&hm=951eb363656fde9f895c0a9eb6f0252b645a87dc226740f55bba337a6dc8f6ea&" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
      src="https://cdn.discordapp.com/attachments/1144856909472604230/1181439360512557106/178fc20d415852429fd35309edb1652310910b64.webp?ex=65811025&is=656e9b25&hm=ea5550b8419e7cfc1d2fcb6ec66472c10237a95d7c7526850766bff891df1099&" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
      src="https://cdn.discordapp.com/attachments/1144856909472604230/1181439682576400404/shin-w-16-9-2.jpg?ex=65811072&is=656e9b72&hm=a19a6c1e461407a58d2adbcef58bc718babbbc8065f4f7d53bd38a1b6a32fbfe&" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{{!-- <div class="container-fluid mb-4" style="height: 50vh;">
  <div class="row h-100">
    <!-- First Column (75% of the screen width) -->
    <div class="col-md-9">
      <div id="carouselExampleIndicators" class="carousel slide w-100">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://cdn.discordapp.com/attachments/1144856909472604230/1181438963890802698/934af649631a2dc8730f0b63cfed1e63908b6f08.webp?ex=65810fc7&is=656e9ac7&hm=951eb363656fde9f895c0a9eb6f0252b645a87dc226740f55bba337a6dc8f6ea&"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://cdn.discordapp.com/attachments/1144856909472604230/1181439360512557106/178fc20d415852429fd35309edb1652310910b64.webp?ex=65811025&is=656e9b25&hm=ea5550b8419e7cfc1d2fcb6ec66472c10237a95d7c7526850766bff891df1099&"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://cdn.discordapp.com/attachments/1144856909472604230/1181439682576400404/shin-w-16-9-2.jpg?ex=65811072&is=656e9b72&hm=a19a6c1e461407a58d2adbcef58bc718babbbc8065f4f7d53bd38a1b6a32fbfe&"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Second Column (25% of the screen width) -->
    <div class="col-md-3 pb-4">
      <!-- First cell in the second column -->
      <div class="row" style="height: 50%;">
        <div class="col-md-12">
          <img
            src="https://cdn.discordapp.com/attachments/1144856909472604230/1181438963890802698/934af649631a2dc8730f0b63cfed1e63908b6f08.webp?ex=65810fc7&is=656e9ac7&hm=951eb363656fde9f895c0a9eb6f0252b645a87dc226740f55bba337a6dc8f6ea&"
            class="d-block w-100 h-100"
            alt="..."
          />
        </div>
      </div>
      <!-- Second cell in the second column -->
      <div class="row" style="height: 50%;">
        <div class="col-md-12 pt-4">
          <img
            src="https://cdn.discordapp.com/attachments/1144856909472604230/1181438963890802698/934af649631a2dc8730f0b63cfed1e63908b6f08.webp?ex=65810fc7&is=656e9ac7&hm=951eb363656fde9f895c0a9eb6f0252b645a87dc226740f55bba337a6dc8f6ea&"
            class="d-block w-100 h-100"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div> --}}