.admin-page {
  min-height: 100vh;
  max-width: 100vw;
}

.admin-content {
  padding: 0 0;
  .text-gray-300 {
    color: #dddfeb !important;
  }
  .border-left-primary {
    border-left: 0.5rem solid $color-pink-primary !important;
  }
  .border-left-success {
    border-left: 0.5rem solid $color-pink-primary-light !important;
  }
  .border-left-info {
    border-left: 0.5rem solid $color-pink-secondary !important;
  }
  .border-left-warning {
    border-left: 0.5rem solid $color-pink-tertiary !important;
  }
  .ptext-primary {
    color: $color-pink-primary;
  }
  .ptext-primary-light {
    color: $color-pink-primary-light;
  }
  .ptext-secondary {
    color: $color-pink-secondary;
  }
  .bg-primary {
    background-color: $color-pink-primary !important;
    border-color: $color-pink-primary !important;
    &:hover {
      background-color: $color-pink-primary-light !important;
      border-color: $color-pink-primary-light !important;
    }
  }
  .bg-secondary {
    background-color: $color-pink-secondary;
  }
  .ptext-tertiary {
    color: $color-pink-tertiary;
  }
  .shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
  }
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem;
  }
  .text-gray-800 {
    color: #5a5c69 !important;
  }
  .font-weight-bold {
    font-weight: 700 !important;
  }
  .chartjs-render-monitor {
    animation: chartjs-render-animation 1ms;
  }
  .modal {
    font-size: 1.75rem;
    button,
    input,
    textarea,
    select {
      font-size: 1.5rem;
      margin-top: 0;
    }
    .modal-title {
      font-size: 2rem;
      font-weight: 700;
    }
    .scrollable-container {
      width: 100%; /* Kích thước của container */
      height: auto; /* Kích thước chiều cao của container */
      overflow-x: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá chiều rộng */
      position: relative;
    }
    .preview-imgs {
      display: flex;
      gap: 10px;
    }
    .card-preview-img {
      width: 250px; /* Kích thước của mỗi ảnh */
      height: 200px;
      overflow: hidden;
      flex-shrink: 0;
      position: relative;
      img {
        width: 100%; /* Làm cho ảnh lấp đầy chiều rộng của container */
        height: auto; /* Tự động tính toán chiều cao dựa trên tỷ lệ của ảnh */
        object-fit: contain; /* Giữ nguyên tỷ lệ của ảnh */
      }
      .remove-button {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }
    }
  }
}

.admin-sidebar {
  padding: 0 0;
  background-color: $color-pink-tertiary;
  .logo-img {
    width: 80%;
    margin-top: 5rem;
  }
  .navbar-nav {
    .nav-link {
      color: $color-dark;
      font-size: 2rem;
      &:hover {
        background-color: $color-pink-primary-light;
        color: $color-white;
      }
      .nav-link-icon {
        display: flex;
        i {
          align-self: center;
          flex-grow: 1;
        }
      }
    }
    .active {
      background-color: $color-pink-primary;
      color: $color-white;
    }
  }
}
