.error-box {
  height: 100%;
  position: fixed;
  background-color: #fff;
  width: 100%;
  .error-body {
    padding-top: 10%;
  }
  .error-title {
    font-size: 210px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40;
    line-height: 210px;
  }
}
