.file-preview {
    margin-top: 2rem;
}

// .btn-file {
//     margin-top: 14px !important;
// }

// .file-caption-name {
//     margin-top: 15px;
// }

.is-valid {
    margin-top: 39px;
    // top: 10px;
}
.kv-caption-icon {
    margin-top: 39px;
}