<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-4 pe-5">
            <div class="card profileCard p-3 " style="height: 33rem;">
                <div class="row d-flex justify-content-center">
                    <img src="https://media.discordapp.net/attachments/1176168664987345008/1176953088456798208/loginanimi.png?ex=6570bdfb&is=655e48fb&hm=e4693ff912e14c7a1d637ed4e329351b67a4f04b6073ab6570bed2e593c74a19&=&format=webp&width=583&height=395"
                        alt="" style="width: 25rem;">
                </div>
                <div class="row text-center mb-3">
                    <h3 style="color: #000">Full Name</h3>
                </div>
                <div class="row">
                    <p><a href="/profile">Thông tin tài khoản</a></p>
                    <p><a href="#" style="color: #627e64">Đổi mật khẩu</a></p>
                    <p><a href="/order/index">Lịch sử đơn hàng</a></p>
                    <p><a href="#">Đăng xuất</a></p>
                </div>
            </div>
        </div>
        <div class="card profileForm col-8">
            <div class="card-body">
                <h4 style="color: #86A789;">Thay đổi mật khẩu</h4>
                <hr>
                <form id="updateForm" action="#" method="post">
                    <table class="ms-5 ps-5">
                        <tr>
                            <td>
                                <label for="inputOldPw" class="col-form-label ms-3">Mật khẩu cũ</label>
                            </td>
                            <td style="width: 350px">
                                <input type="password" id="inputOldPw" name="inputOldPw" class="form-control ms-5"
                                    required>
                                <small id="pwErr" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <label for="inputNewPw" class="col-form-label ms-3 mb-2">Mật khẩu mới</label>
                            </td>
                            <td>
                                <input type="password" id="inputNewPw" name="inputNewPw" class="form-control ms-5 fs-5"
                                    required>
                                <small id="newPwErr" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="inputConfirmNewPw" class="col-form-label ms-3 mb-2">Xác nhận mật
                                    khẩu</label>
                            </td>
                            <td>
                                <input type="password" id="inputConfirmNewPw" name="inputConfirmNewPw"
                                    class="form-control ms-5 fs-5" required>
                                <small id="confirmNewPwErr" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn updateButton fs-4 mt-3 ms-5"
                                    style="background-color: #86A789; color: #fff;">Xác nhận</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(() => {
        $('form').submit(function (e) {
            e.preventDefault();

            //check confirmPassword
            $('#confirmNewPwErr').html(($('#inputNewPw').val() != $('#inputConfirmNewPw').val()) ? 'Confirm password is incorrect' : '');

            //console.log('gui submit');
            //$('form').submit();
        })
    })
</script>