<div class="container">
  <div class="row">
    <div class="blk-product-new col-12" data-label="product new">
      <h2 class="title">
        <a href="/product">
          Sản phẩm mới
        </a>
      </h2>
      <div class="product-list">
        <div id="rs-js-product" class="row">
          <div
            class="product-item item37899900 col-xl-3 col-md-4 col-6 col-xxs-12"
            data-psId="37899900"
          >
            <div class="image">
              <a href="#" title="Bút viết Gấu trúc Pandabiz climb the bamboo">
                <img
                  data-sizes="auto"
                  class="lazyload"
                  src="https://pos.nvncdn.net/cba2a3-7534/ps/20231130_PLvOhyaGm3.jpeg"
                  alt="Bút viết Gấu trúc Pandabiz climb the bamboo"
                />
              </a>
              <div
                class="product-action d-flex align-center justify-content-center"
              >
                <div class="wish" data-psId="37899900"></div>
                <div
                  class="js-add-cart"
                  data-psId="37899900"
                  data-root="-2"
                ></div>
              </div>
            </div>
            <h3 class="name">
              <a
                href="/but-viet-gau-truc-pandabiz-climb-the-bamboo-p37899900.html"
                title="Bút viết Gấu trúc Pandabiz climb the bamboo"
              >
                Bút viết Gấu trúc Pandabiz climb the bamboo
              </a>
            </h3>
            <div class="product-price">
              <span class="price">25.000đ</span>
            </div>
          </div>

        </div>
      </div>
      <div class="col text-center">
        <a
          id="js-btn-load-product"
          data-offset="12"
          href="/product"
          class="btn btn-pink pointer d-load-flex align-items-center"
        >XEM THÊM</a>
      </div>
    </div>

    <div class="blk-banner col-12" data-label="campaigns">
      <h2 class="title">Chủ đề mới</h2>
      <div class="row">
        <div
          class="item pointer col-xl-3 col-md-4 col-6 active"
          data-id="4033"
          data-href="/cay-thong-va-trang-tri-cp4033.html"
          data-offset="0"
          data-label="campaign"
        >
          <img
            data-sizes="auto"
            class="lazyload"
            src="https://pos.nvncdn.net/cba2a3-7534/campaign/20231124_YESWgxRx.png"
            alt="Cây thông và trang trí"
          />
        </div>
        <div
          class="item pointer col-xl-3 col-md-4 col-6"
          data-id="4032"
          data-href="/phu-kien-dien-thoai-cp4032.html"
          data-offset="0"
          data-label="campaign"
        >
          <img
            data-sizes="auto"
            class="lazyload"
            src="https://pos.nvncdn.net/cba2a3-7534/campaign/20231124_jeZP8IYC.png"
            alt="Phụ kiện điện thoại"
          />
        </div>
        <div
          class="item pointer col-xl-3 col-md-4 col-6"
          data-id="4031"
          data-href="/team-santa-cp4031.html"
          data-offset="0"
          data-label="campaign"
        >
          <img
            data-sizes="auto"
            class="lazyload"
            src="https://pos.nvncdn.net/cba2a3-7534/campaign/20231124_4nnGue2s.png"
            alt="Team Santa"
          />
        </div>
        <div
          class="item pointer col-xl-3 col-md-4 col-6"
          data-id="4030"
          data-href="/team-panda-cp4030.html"
          data-offset="0"
          data-label="campaign"
        >
          <img
            data-sizes="auto"
            class="lazyload"
            src="https://pos.nvncdn.net/cba2a3-7534/campaign/20231124_VpHEwz2T.png"
            alt="Team Panda"
          />
        </div>
      </div>
    </div>

    <div class="blk-product-home col-12" data-label="product campaigns">
      <div class="product-list">
        <div id="js-camp-pro" class="row justify-content-center">
          <div
            class="product-item item37670939 col-xl-3 col-md-4 col-6 col-xxs-12"
            data-psId="37670939"
          >
            <div class="image">
              <a
                href="/bo-co-treo-xmas-merry-christmas-sweet-house-p37670939.html"
                title="Bộ cờ treo Xmas Merry Christmas sweet house"
              >
                <img
                  data-sizes="auto"
                  class="lazyload"
                  src="https://pos.nvncdn.net/cba2a3-7534/ps/20221020_wVqmawQdnh8J5SbgH2SOWhzQ.jpg"
                  alt="Bộ cờ treo Xmas Merry Christmas sweet house"
                />
              </a>
              <div
                class="product-action d-flex align-center justify-content-center"
              >
                <div class="wish" data-psId="37670939"></div>
                <div
                  class="js-add-cart"
                  data-psId="37670939"
                  data-root="-2"
                ></div>
              </div>
            </div>
            <h3 class="name">
              <a
                href="/bo-co-treo-xmas-merry-christmas-sweet-house-p37670939.html"
                title="Bộ cờ treo Xmas Merry Christmas sweet house"
              >
                Bộ cờ treo Xmas Merry Christmas sweet house
              </a>
            </h3>
            <div class="product-price">
              <span class="price">40.000<sub>đ</sub></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <a
          id="js-btn-load-cam"
          href="/cay-thong-va-trang-tri-cp4033.html"
          class="btn btn-pink"
        >XEM THÊM</a>
      </div>
    </div>
  </div>
</div>