<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-4 pe-5">
            <div class="card profileCard p-3 " style="height: 33rem;">
                <div class="row d-flex justify-content-center">
                    <img src="https://media.discordapp.net/attachments/1176168664987345008/1176953088456798208/loginanimi.png?ex=6570bdfb&is=655e48fb&hm=e4693ff912e14c7a1d637ed4e329351b67a4f04b6073ab6570bed2e593c74a19&=&format=webp&width=583&height=395"
                        alt="" style="width: 25rem;">
                </div>
                <div class="row text-center mb-3">
                    <h3 style="color: #000">Full Name</h3>
                </div>
                <div class="row">
                    <p><a href="/profile">Thông tin tài khoản</a></p>
                    <p><a href="/profile/changepassword">Đổi mật khẩu</a></p>
                    <p><a href="/order/index" style="color: #627e64">Lịch sử đơn hàng</a></p>
                    <p><a href="#">Đăng xuất</a></p>
                </div>
            </div>
        </div>
        <div class="card ps-5 col-8">
            <div class="card-body">
                <div class="row">
                    <h1 class="col-6" style="color: #86A789;">Đơn hàng: <span class="fst-italic">123456</span></h1>
                    <h5 class="col-2 offset-4 mb-3"><a href="/order/index"><i class="fas fa-long-arrow-alt-left"></i>
                            Back</a></h5>
                </div>
                <hr>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 40rem">Sản phẩm</th>
                            <th style="width: 13rem">Đơn giá</th>
                            <th style="width: 8rem">Số lượng</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>                    
                    <tr onclick="window.location.href = '/user/signin' ">
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                                        class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                </div>
                                <div class="col-9">
                                    <h5>Iphone 11 pro</h5>
                                    <p class="small mb-0">256GB, Navy Blue</p>
                                </div>
                            </div>
                        </td>
                        <td>8000000</td>
                        <td>1</td>
                        <td>8000000</td>
                    </tr>
                    <tr onclick="window.location.href = '/user/signin' ">
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://media.discordapp.net/attachments/1176168664987345008/1185510412918198293/den-led-dom-dom-trang-tri-co-che-do-nhap-nhay.jpg?ex=658fdf9c&is=657d6a9c&hm=7f4de7c7c06bcabece6a0ca504a86cf32ac3ae1450906b795f659fa6e5f7bd64&=&format=webp"
                                        class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                </div>
                                <div class="col-9">
                                    <h5>Đèn nhấp nháy</h5>
                                    <p class="small mb-0">Trắng</p>
                                </div>
                            </div>
                        </td>
                        <td>6200</td>
                        <td>2</td>
                        <td>12400</td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-5 offset-7 pe-5 mt-3 border-top">
                        <p class="fw-bold">Tổng đơn: <span class="float-end">8012400</span></p>
                        <p>Ngày đặt hàng: <span class="float-end">01/01/2022</span></p>
                        <p>Trạng thái: <span class="float-end">Đang giao hàng</span></p>
                        <p>Ghi chú đơn hàng: <span class="float-end"></span></p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>