<div class="d-flex justify-content-center mb-5">
        <div class="card-group mt-5 mb-5">
            <div class="card left-card border-0">
              <div class="card-body m-3">
                <h1 class="card-title fw-bold fs-1">Sign Up</h1>
                <p class="card-text mb-5"><small class="text-body-secondary">Please Sign Up to continue</small></p>
                <form id="signupForm" action="/" method="post">
                    <div class="mb-2">
                        <label for="inputName" class="form-label mb-1">Full name</label>
                        <input type="text" class="form-control" name="inputName" id="inputName" required >
                        <small id="nameErr" class="form-text text-danger"></small>
                    </div>
                    <div class="mb-2">
                        <label for="inputUsername" class="form-label mb-1">Username</label>
                        <input type="text" class="form-control" name="inputUsername" id="inputUsername" required>
                        <small id="usernameErr" class="form-text text-danger"></small>
                    </div>
                    <div class="mb-2">
                        <label for="inputEmail" class="form-label mb-1">Email address</label>
                        <input type="email" class="form-control" name="inputEmail" id="inputEmail" required>
                    </div>
                    <div class="mb-2">
                        <label for="inputPassword" class="form-label mb-1">Password</label>
                        <input type="password" class="form-control" name="inputPassword" id="inputPassword" required>
                    </div>
                    <div class="mb-2">
                        <label for="inputConfirmPassword" class="form-label mb-1">Confirm Password</label>
                        <input type="password" class="form-control" name="inputConfirmPassword" id="inputConfirmPassword" required>
                        <small id="confirmPwErr" class="form-text text-danger"></small>
                    </div>
                    <div class="d-grid gap-2 col-12 mt-4">
                        <button class="btn btn-outline-dark fs-4" style="height: 4rem" type="submit">Sign Up</button>
                    </div>
                </form>
              </div>
            </div>
            <div class="right-card card border-0">
              <div class="card-body text-center">
                <img src="https://media.discordapp.net/attachments/1176168664987345008/1176953088456798208/loginanimi.png?ex=6570bdfb&is=655e48fb&hm=e4693ff912e14c7a1d637ed4e329351b67a4f04b6073ab6570bed2e593c74a19&=&format=webp&width=583&height=395" alt="">
                <h5 class="mt-2 mb-5">Shop Name</h5>
                <div>Already have an account? </div>
                <button type="button" class="btn btn-outline-light mt-2 fs-4">Sign in</button>
              </div>
            </div>
          </div>
    </div>
    <script>
        $(()=>{
            $('#signupForm').submit(function(e) {
                event.preventDefault();
                //check fullname
                let regex = /[^a-zA-ZÀ-ỹ\s]/;
                $('#nameErr').html(regex.test($('#inputName').val()) ? 'The name consists of only letters' : '');
                //check username
                regex = /[\/\\\[\];|=,+\*\?<>]/;
                $('#usernameErr').html(regex.test($('#inputUsername').val()) ? 'Username does not contain the following characters / \ [ ] ; | = , + * ? < >' : '');
                //check confirmPassword
                $('#confirmPwErr').html(($('#inputPassword').val() != $('#inputConfirmPassword').val()) ? 'Confirm password is incorrect' : '');

                if ($('#nameErr').html() == '' &&  $('#usernameErr').html() == '' && $('#confirmPwErr').html() == '')  {
                    console.log('submit');
                    //$('#signupForm').submit();
                }
            });
        })
    </script>