.bg-color-1 {
  background-color: 86A789; }

.bg-color-2 {
  background-color: B2C8BA; }

.bg-color-3 {
  background-color: D2E3C8; }

.bg-color-4 {
  background-color: EBF3E8; }

.display-w-100 {
  width: 100%; }

a {
  font-size: 14px;
  font-weight: 700; }

.superNav {
  font-size: 13px; }

.form-control {
  outline: none !important;
  box-shadow: none !important; }

.bg-color-1 {
  background-color: 86A789; }

.search-bar {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-style: none;
  border-radius: 0.5rem;
  padding-right: 0.8rem; }

.search-bar-container {
  margin-left: -2rem; }

.icon-search {
  border-style: none; }

@media screen and (max-width: 540px) {
  .centerOnMobile {
    text-align: center; } }

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important; } }

.btn-checkout {
  width: 100%; }

.checkout-hover:hover {
  background-color: B2C8BA; }
