$color-primary: #3b99d7;
$color-primary-tint: #d9edf7;
$color-primary-shade: #337ab7;
$color-text-dark: #31383e;
$color-text-light: #f6f6f6;
$color-text-grey: #757575;
$color-white: #fff;
$color-border: #ccc;
$font-family-primary: "Ubuntu", sans-serif;
$font-size-primary: 1.5rem;
$font-size-secondary: 1.6rem;
$font-size-tertiary: 1.8rem;
$font-size-quaternary: 2rem;
